<div class="grid place-items-center">
<div class="card w-96 bg-black shadow-xl">
      <figure class="px-10 pt-10">
        <img src="/assets/aware.png" class="mx-auto w-48" />
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title text-yellow-200">The future of Computing.</h2>
        <p>Check out our full line of products</p>
        <div class="card-actions">
          <a href="/shop" class="btn btn-outline">Shop Now</a>
        </div>
      </div>
    </div>
    </div>