<nav x-data="{ isOpen : false }" @keydown.escape="isDialogOpen = false" class="sticky top-0 z-50 bg-transparent shadow-xl">
        <div class="mr-3 lg:mx-6 py-4 mx-auto lg:flex lg:justify-between lg:items-center">
            <div class="flex items-center justify-between">
                <div>
                    <a href="/" class="flex items-center order-first mb-2 font-medium text-gray-900 lg:order-none lg:w-auto title-font lg:items-center lg:justify-center lg:mb-0">
                        <img class="h-12" src="https://cdn.glitch.global/b426bced-20bb-4c94-b19b-582224045725/vimwhite.png?v=1652820319383" />
                    </a>
                </div>
                
                <!-- Mobile menu button -->
                <div class="flex lg:hidden">
                    <button @click="isOpen = !isOpen" type="button" class="text-gray-100 dark:text-gray-200 focus:outline-none focus:text-gray-100 dark:focus:text-gray-100" aria-label="toggle menu">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div :class="!isOpen ? 'hidden' : ''" class="items-center lg:flex lg:bg-transparent bg-white text-slate-600">
                <div class="flex flex-col md:flex-row md:mx-6 px-3">
                {% for item in navigation %}
                  <a class="my-1  font-light text-slate-300 dark:text-slate-600 md:mx-4 md:my-0" 
                  href="{{ item.route }}">
                    {{ item.name }}
                  </a>
                {% endfor %}  
                </div>

            </div>
        </div>
    </nav>
