<div class="hero min-h-screen" style="background:linear-gradient(rgb(63, 63, 70), rgb(41, 37, 36), rgb(0, 0, 0))">
    <div class="hero-content text-center">
    <div class="max-w-md">
        <video class="object-center justify-center w-full" src="/assets/viimglass.mp4" type="video/mp4" autoplay muted loop></video>
        <h1 class="font-light text-6xl font-bold">Visionaire </h1>
        <p class="text-3xl font-light">by ViiM</p>
        <p class="py-6">Visionaire by ViiM is a revolutionary blockchain-enabled smart glass, that allows users to use their favorite smart phone applications simply through a heads-up interface.</p>
        <button class="btn btn-primary">Learn More</button>
    </div>
    </div>
</div>