<div class="hero min-h-screen" style="background:linear-gradient(rgb(29, 27, 32), rgb(29, 27, 31), rgb(0, 0, 0))">
    <div class="hero-content text-center">
    <div class="max-w-md">
        <img src="/assets/vr.jpg" class="" />
        
        <h1 class="font-light text-6xl font-bold">AiR Glass</h1>
        <p class="text-xl font-light tracking-wider">by ViiM</p>
        <p class="py-6">Visionaire Glass by ViiM is a revolutionary blockchain-enabled smart glass, that allows users to use their favorite apps and web3 applications simply through a heads-up interface.</p>
        <video class="object-center justify-center w-full" src="/assets/viimglass.mp4" type="video/mp4" autoplay muted loop></video>
        <a href="https://www.viim.shop/product-page/visionaire-smart-glass" class="btn btn-primary">Learn More</a>
    </div>
    </div>
</div>