<div class="card w-96 bg-base-100 shadow-xl image-full">
  <figure><img src="/assets/awarebyviim.jpeg" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">AWARE by ViiM <br> White Paper</h2>
    <p>In addition to offering the latest computing hardware, we are also developing a novel computing software platform, built with blockchain at the core.</p>
    <div class="card-actions justify-end">
      <a href="/awarebyviim.pdf" class="btn btn-success">Read the White Paper</a>
    </div>
  </div>
</div>