{% set title = 'Aware by ViiM' %}
{% extends "homelayout.njk" %}

{% block body %}
<main class="">
<div class="flex flex-row" x-data="{refferedBy:'viim'}" 
x-init="refferedBy=((new URL(document.location)).searchParams).get('ref');console.log(refferedBy)">
    
  <div class="w-full h-full flex flex-col content-center">
    
  <div class="relative h-full">
      <div class="h-[calc(100vh)] carousel carousel-vertical rounded-box">
        <div class="carousel-item h-full">
          <img src="/assets/glass.gif" />
        </div> 
        <div class="carousel-item h-full">
          <img src="https://placeimg.com/256/400/arch" />
        </div> 
        <div class="carousel-item h-full">
          <img src="https://placeimg.com/256/400/arch" />
        </div> 
        <div class="carousel-item h-full">
          <img src="https://placeimg.com/256/400/arch" />
        </div> 
        <div class="carousel-item h-full">
          <img src="https://placeimg.com/256/400/arch" />
        </div> 
        <div class="carousel-item h-full">
          <img src="https://placeimg.com/256/400/arch" />
        </div> 
        <div class="carousel-item h-full">
          <img src="https://placeimg.com/256/400/arch" />
        </div>
      </div>

  </div>
  </div>

</div>
</main>
{% endblock %}
