<!DOCTYPE html>
<html lang="en" data-theme="black">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>V i i M | Virtual Interactive Innovation in Motion</title>
    <meta name="title" content="V i i M | Virtual Interactive Innovation in Motion">
    <meta name="description" content="Virtual Interactive Innovation in Motion (ViiM) is a suite of advanced computing products, designed to enhance and augment your personal and professional life.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://viim.tech/">
    <meta property="og:title" content="V i i M | Virtual Interactive Innovation in Motion">
    <meta property="og:description" content="Virtual Interactive Innovation in Motion (ViiM) is a suite of advanced computing products, designed to enhance and augment your personal and professional life.">
    <meta property="og:image" content="https://viim.tech/assets/airglass.gif">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://viim.tech/">
    <meta property="twitter:title" content="V i i M | Virtual Interactive Innovation in Motion">
    <meta property="twitter:description" content="Virtual Interactive Innovation in Motion (ViiM) is a suite of advanced computing products, designed to enhance and augment your personal and professional life.">
    <meta property="twitter:image" content="https://viim.tech/assets/airglass.gif">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      crossorigin="anonymous"
    />
    <script src="/assets/main.bundle.js" defer></script>
  </head>
  <body>
    <main>
      
    <section class="max-h-screen overflow-y-scroll snap snap-y snap-mandatory">
      {% include 'header.njk' %}
    <div
      class="bg-[url('../assets/glass.gif')] bg-cover bg-center h-screen snap-center"
    >
      

      <!-- Model S -->

      <div class="flex flex-col justify-center relative top-20">
        <h1 class="text-[40px] m-auto font-bold text-tesla-dark">Visionaire</h1>
        <p class="m-auto pt-1 text-[16px] text-[#5c5d61]">
          Blockchain enabled Smart Glass</span>
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[320px] md:mt-[40px] text-[14px] md:flex-row relative top-24"
      >
        <a href="/shop/visionaire"
          class="btn btn-primary">
          Pre-Order Now
        </a>
      </div>
      <div class="flex justify-center relative top-24">
        <div class="animate-bounce">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#3c3c3c" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15M9 12l3 3m0 0l3-3m-3 3V2.25" />
</svg>

        </div>
      </div>
    </div>
    <!-- Model Y -->
    <div
      class="bg-[url('../assets/press.gif')] bg-cover bg-center h-screen snap-center"
    >
      <div class="flex flex-col justify-center pt-28 md:pt-32">
        <h1 class="text-[40px] m-auto font-bold text-white">Press</h1>
        <p class="m-auto pt-1 text-[16px] text-[#c7cbdd]">
          Wireless blockchain-enabled hand-held printer</span>
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[420px] md:mt-[470px] text-[14px] md:flex-row"
      >
        
        <a href="/shop/press"
          class="btn btn-outline"
        >
          Pre-Order Now
        </a>
      </div>
    </div>

    <!-- Model S -->

    <div
      class="bg-[url('../assets/holoboard.gif')] bg-cover bg-center h-screen snap-center"
    >
      <div class="flex flex-col justify-center pt-32">
        <h1 class="text-[40px] m-auto font-bold text-white">Holoboard</h1>
        <p class="m-auto pt-1 text-[16px] text-white">
          Wireless Laser Keyboard for your<span class="underline">AWARE</span> devices
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[370px] md:mt-[450px] text-[14px] md:flex-row"
      >
        <a href="/shop/holoboard"
          class="btn btn-outline"
        >
          Pre-Order Now
        </a>
      </div>
    </div>

    <!-- Model X -->
    <div
      class="bg-[url('../assets/ring.gif')] bg-cover bg-center h-screen snap-center"
    >
      <div class="flex flex-col justify-center pt-16">
        <h1 class="text-[40px] m-auto font-bold text-tesla-dark">Lumen Ring</h1>
        <p class="m-auto pt-1 text-[16px] text-slate-800">
          Touch controller ring for your <span class="underline">AWARE</span> devices.
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[370px] md:mt-[450px] text-[14px] md:flex-row"
      >
        <a href="/shop/ring"
          class="btn btn-primary"
        >
          Pre-Order Now
        </a>
        
      </div>
    </div>

    <!-- Solar Panels -->

    <div
      class="bg-[url('../assets/coin.gif')] bg-cover bg-center h-screen snap-center"
    >
      <div class="flex flex-col justify-center pt-28">
        <h1 class="text-[40px] m-auto font-bold text-slate-200">
          Lumen Coin
        </h1>
        <p class="m-auto pt-1 text-[16px] text-[#a4a5a8]">
          Re-loadable electronic cash coin
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[370px] md:mt-[450px] text-[14px] md:flex-row"
      >
        
        <a href="/shop/coin"
          class="btn btn-outline"
        >
          Buy Now
        </a>
      </div>
    </div>

    <!-- Solar Roof -->

    {# <div
      class="bg-[url('../assets/tesla-hp-6.avif')] bg-cover bg-center h-screen snap-center"
    >
      <div class="flex flex-col justify-center pt-28">
        <h1 class="text-[40px] m-auto font-bold text-tesla-dark">Solar Roof</h1>
        <p class="m-auto pt-1 text-[16px] text-[#5c5d61]">
          Produce Clean Energy From Your Roof
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[370px] md:mt-[450px] text-[14px] md:flex-row"
      >
        <button
          class="rounded-full bg-gray-800 w-96 md:w-60 mx-0 h-10 text-white md:mx-4"
        >
          Order Now
        </button>
        <button
          class="btn btn-outline"
        >
          Learn More
        </button>
      </div>
    </div> #}

    <!-- Accessories -->

    {# <div
      class="bg-[url('../assets/tesla-hp-7.avif')] bg-cover bg-center h-screen snap-center"
    >
      <div class="flex flex-col justify-center pt-28">
        <h1 class="text-[40px] m-auto font-bold text-tesla-dark">
          Accessories
        </h1>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[370px] md:mt-[450px] text-[14px] md:flex-row"
      >
        <a href="//viim.shop"
          class="rounded-full bg-gray-800 w-96 md:w-60 mx-0 h-10 text-white md:mx-4"
        >
          Shop Now
        </a>
      </div>
    </div>
    <div class="flex justify-center pb-5">
      <div class="grow">
        <ul
          class="flex flex-col md:flex-row items-center justify-center text-neutral-700 text-[12px]"
        >
          <li class="mx-5">Tesla &copy 2022</li>
          <li class="mx-5">Privacy & Legal</li>
          <li class="mx-5">Contact</li>
          <li class="mx-5">Careers</li>
          <li class="mx-5">News</li>
          <li class="mx-5">Engage</li>
          <li class="mx-5">Locations</li>
        </ul>
      </div>
    </div> #}
    </section>
    </main>
  </body>
</html>
