{% set title = 'Aware by ViiM' %}
{% extends "landinglayout.njk" %}

{% block body %}
<main>
    {% set featured = collections.featured %}
    <section class="max-h-screen overflow-y-scroll snap snap-y snap-mandatory">
      {% include 'header.njk' %}
      <!-- AWARE -->
    
    {% for item in featured %}
    <div class="bg-[url('/assets/aware.jpg')] bg-cover bg-center h-screen snap-center relative">
      <div class="flex flex-col justify-center">
        {# <h1 class="text-[40px] m-auto font-bold text-tesla-dark">
          AWARE
        </h1> #}
        <p class="m-auto pt-1 text-[16px] text-2xl  relative top-32 text-slate-300 p2font">
          {{ heading }}</span>
        </p>
        <p class="m-auto pt-1 text-[16px] text-center relative top-32 text-slate-300 p2font">
          Phone + Computer + Decentralized = AWARE</span>
        </p>
      </div>
      <div class="flex flex-col items-center justify-center mt-[440px] md:mt-[390px] text-[14px] md:flex-row relative bottom-52 md:bottom-20 h-full">
        <a href="/shop/aware" class="btn btn-outline">
          Learn More
        </a>
      </div>
      <div class="flex justify-center text-white mt-[10px] absolute bottom-6 w-full">
        <div class="animate-bounce">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
          </svg>
        </div>
      </div>
    </div>
    {% endfor %}
    <div
      class="bg-[url('../assets/glass.gif')] bg-cover bg-center h-screen snap-center"
    >
      

      <!-- Visionaire -->

      <div class="flex flex-col justify-center relative top-20">
        <h1 class="text-[40px] m-auto font-bold text-white">Visionaire</h1>
        <p class="m-auto pt-1 text-[16px] text-[#5c5d61]">
          Blockchain enabled Smart Glass</span>
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[300px] md:mt-[340px] text-[14px] md:flex-row relative top-24"
      >
        <a href="/shop/visionaire"
          class="btn btn-primary">
          Pre-Order Now
        </a>
      </div>
      
    </div>
    
    <!-- Press -->
    <div
      class="bg-[url('../assets/press.gif')] bg-cover bg-center h-screen snap-center"
    >
      <div class="flex flex-col justify-center pt-24 md:pt-28">
        <h1 class="text-[40px] m-auto font-bold text-white">Press</h1>
        <p class="m-auto pt-1 text-[16px] text-[#c7cbdd]">
          Wireless blockchain-enabled hand-held printer</span>
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[390px] md:mt-[350px] text-[14px] md:flex-row"
      >
        
        <a href="/shop/press"
          class="btn btn-outline"
        >
          Pre-Order Now
        </a>
      </div>
    </div>

    <!-- Holoboard -->

    <div
      class="bg-[url('../assets/holoboard.gif')] bg-cover bg-center h-screen snap-center"
    >
      <div class="flex flex-col justify-center pt-28 md:pt-32">
        <h1 class="text-[40px] m-auto font-bold text-white">Holoboard</h1>
        <p class="m-auto pt-1 text-[16px] text-white">
          Wireless Laser Keyboard for <span class="underline">AWARE</span> devices
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-mt-mt-[300px] md:mt-[350px] text-[14px] md:flex-row"
      >
        <a href="/shop/holoboard"
          class="btn btn-outline"
        >
          Pre-Order Now
        </a>
      </div>
    </div>

    <!-- RIng -->
    <div
      class="bg-[url('../assets/ring.gif')] bg-cover bg-center h-screen snap-center"
    >
      <div class="flex flex-col justify-center pt-16">
        <h1 class="text-[40px] m-auto font-bold text-tesla-dark">Lumen Ring</h1>
        <p class="m-auto pt-1 text-[16px] text-slate-800">
          Touch controller ring for your <span class="underline">AWARE</span> devices.
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[340px] md:mt-[350px] text-[14px] md:flex-row"
      >
        <a href="/shop/ring"
          class="btn btn-primary"
        >
          Pre-Order Now
        </a>
        
      </div>
    </div>

    <!-- Coin -->

    <div
      class="bg-[url('../assets/coin.gif')] bg-cover bg-center h-screen snap-center"
    >
      <div class="flex flex-col justify-center pt-28">
        <h1 class="text-[40px] m-auto font-bold text-slate-200">
          Smart Bank
        </h1>
        <p class="m-auto pt-1 text-[16px] text-[#a4a5a8]">
          Re-loadable electronic cash coin
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[300px] md:mt-[350px] text-[14px] md:flex-row"
      >
        
        <a href="/shop/coin"
          class="btn btn-outline"
        >
          Buy Now
        </a>
      </div>
    </div>

    <!-- ifi -->

    <div
      class="bg-[url('../assets/ifi.gif')] bg-cover bg-center h-screen snap-center"
    >
      <div class="flex flex-col justify-center pt-24">
        <h1 class="text-[40px] m-auto font-bold text-white">iFi</h1>
        <p class="m-auto pt-1 text-[16px] text-[#a4a5aa]">
          Mini Wifi Hotspot for your AWARE products
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center mt-[330px] md:mt-[290px] text-[14px] md:flex-row"
      >
        
        <a href="/shop/ifi"
          class="btn btn-outline"
        >
          Pre-Order Now
        </a>
      </div>
    </div>

    
    <div class="flex justify-center pb-5 relative -top-24">
      <div class="grow">
        <ul
          class="flex flex-col md:flex-row items-center justify-center text-slate-200 text-[12px]"
        >
          <li class="mx-5">ViiM &copy 2022</li>
          <li class="mx-5">Privacy & Legal</li>
          <li class="mx-5">Contact</li>
          <li class="mx-5">Shop</li>
          <li class="mx-5">About</li>
        </ul>
      </div>
    </div>
    </section>
    </main>
{% endblock %}
