{% set title = 'Aware by ViiM' %}
{% extends "layout.njk" %}

{% block body %}
<main class="">
<div class="flex flex-row" x-data="{refferedBy:'viim'}" 
x-init="refferedBy=((new URL(document.location)).searchParams).get('ref');console.log(refferedBy)">
    
    <div class="w-full h-full flex flex-col content-center">
    
    <div class="relative h-full">
        
    {% include 'hero.njk' %}

    <div class="from-primary to-secondary text-primary-content -mt-[4rem] grid place-items-center items-end bg-gradient-to-br pt-20">
    <div class="max-w-md">
      <img src="/assets/aware.png" class="mx-auto" />
      {# <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p> #}
      <button class="btn btn-primary">Get Started</button>
    </div>
    </div>
    
  </div>

</div>
</main>
{% endblock %}
