{% set title = 'Aware by ViiM' %}
{% extends "layout.njk" %}

{% block body %}
<main class="">
<div class="flex flex-row" x-data="{refferedBy:'viim'}" 
x-init="refferedBy=((new URL(document.location)).searchParams).get('ref');console.log(refferedBy)">
    
    <div class="w-full h-full flex flex-col content-center">
    
    <div class="relative h-full">
        
    <div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <video class="object-center justify-center" src="/assets/viimglass.mp4" type="video/mp4" autoplay muted loop></video>
      <h1 class="text-5xl font-bold">Hello there</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
    </div>
    
  </div>

</div>
</main>
{% endblock %}
